<%- include("includes/boilerplate.ejs") %>

<div class="row col-6 offset-2" style="margin-top: 100px;">
    <div class="alert alert-danger" role="alert" >
        <h4><%= message %></h4>
        
      </div>
</div>